.Chart_container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.chart__svg {
  width: 1000px;
  margin: 0 auto;
  overflow-x: scroll;
  position: relative;
}
.chart__svg .box {
  width: 5000px;
  margin-top: -35px;
}
.chart__timeDefault {
  position: absolute;
  width: 200px;
  bottom: 5px;
  z-index: 1;
  color: #555555;
  font-size: 17px;
  font-weight: 500;
  color: rgb(236, 166, 15);
}

.chart__time {
  z-index: 2;
  position: absolute;
  top: 85%;
  left: 50%;
  font-size: 17px;
  font-weight: 500;
  transform: translateX(-50%);
  color: black;
  background: #d4d4d4;
  width: 80px;
  text-align: center;
}
.chart__line {
  position: absolute;
  top: 50px;
  left: 50%;
  color: black;
  background: #d4d4d4;
  width: 2px;
  height: 200px;
}
.chart__Circle {
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 48.5%;
  background-color: rgb(236, 166, 15);
  transform: translateY(0px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 50ms;
}
.char_title {
  position: absolute;
  top: 25px;
  left: 35px;
  transform: translateX(0px);
  font-size: 20px;
  color: #80dcff;
}
.char_title :last-child {
  color: #f98a00;
}
.chart__svg::-webkit-scrollbar {
  width: 16px;
}

.chart__svg::-webkit-scrollbar-track {
  border-radius: 8px;
}

.chart__svg::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888888;
}

.chart__svg::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
