.Chart_container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.chart__svg {
  width: 1000px;
  margin: 0 auto;
  overflow-x: scroll;
  position: relative;
}
.chart__svg .box {
  width: 5000px;
}
.chart__time {
  position: absolute;
  top: 255px;
  left: 50%;
  font-size: 17px;
  font-weight: 500;
  transform: translateX(-50%);
  color: black;
  background: #d4d4d4;
}
.chart__line {
  position: absolute;
  top: 35px;
  left: 49.5%;
  transform: translateX(-50%);
  color: black;
  background: #d4d4d4;
  width: 2px;
  height: 200px;
}
